<div id="vehicleDetailsModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Registration Number</th>
                                <td id="modal_registation_number"></td>
                            </tr>
                            <tr>
                                <th>Insurance</th>
                                <td>
                                    <a target="_blank" id="modal_insurance" href=""><i class="fa fa-download"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th>Insurance Validity</th>
                                <td id="modal_insurance_validity"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- modal-body -->
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
<!-- modal -->