<div class="modal fade" id="allergen" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content allergen_pop_up">
            <div class="modal-header" style="border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pop__up__element">
                <h5 class="headding"> Details & Allergens </h5>
                <p class=""> This item contains the following allergens:</p>
                <hr>
                <p class="small">  Container Size : <b id="container_size"> 650 ml  </b></p>
                <hr>
                <p class="small">  Ingredients </p>
                <p class="large" id="ingredients_div"></p>
                <hr>
                <p class="small">  Allergen Warnings : </p>
                <p class="large" id="allergen_contents"></p>
                <hr>
                <p class="small">  Description </p>
                <p class="large" id="description_div"></p>
                 
            </div>

        </div>
    </div>
</div>