<%- include('./shared/head-panel.ejs')%>
<!-- Body part -->
<div class="container-fluid">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-6">
                <div class="ab__large_img"
                    style="background-image: url(https://puzzlerbox.com/template-kits/food-delivery/wp-content/uploads/sites/37/2020/08/delivery-man-checking-food-order-with-smartphone-FDG7PKK.jpg);">
                </div>
            </div>
            <div class="col-md-6 ab__con__sec">
                <div class="pt-3 pb-3">
                    <h1> The Exclusivity you <br>
                        Experience at<br>
                        RiceNGrills </h1>
                    <p> Cooking at home demands a lot of time and if you find it difficult in your hectic schedule, we
                        can get
                        you
                        Premium Quality, Healthy, Hygienic, and delicious food for less than or near to the money that
                        you will
                        have
                        to spend if you cook at home!!! Yes, RiceNGrills delivers Premium Quality, Healthy, Hygienic and
                        tasty
                        delicacies to your doorsteps at an unimaginable price.</p>
                    <p> ‘RiceNGrills’ aims to become the largest food production and distribution chain in Melbourne
                        while
                        maintaining the highest quality at an unbelievable price. RiceNGrills is now expanding its
                        operation to
                        all
                        suburbs in Melbourne. </p>
                </div>
            </div>
        </div>

        <div class="pt-5 pb-5 our__service">
            <h3> Our services </h3>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li> <svg class="icon">
                                <use xlink:href="#plus"></use>
                            </svg>We prepare meals and deliver them hot. </li>
                        <li> <svg class="icon">
                                <use xlink:href="#plus"></use>
                            </svg>You can pre-book your orders and schedule the delivery timings. </li>
                        <li> <svg class="icon">
                                <use xlink:href="#plus"></use>
                            </svg>All raw material and food products go through meticulous quality checks. </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li> <svg class="icon">
                                <use xlink:href="#plus"></use>
                            </svg>You can also choose to pick it from your nearest collection point. </li>
                        <li> <svg class="icon">
                                <use xlink:href="#plus"></use>
                            </svg>RiceNGrills follow stern methods and systems to ensure high-quality standards. </li>

                    </ul>
                </div>
            </div>
        </div>




    </div>
</div>


<div class="container-fluid color__sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-5 pb-5">
                <h3 class="headding"> How do we cook? </h3>
                <p> We only use fresh vegetables and Halal certified meat sourced from the local market.
                    Production is done in our State-of-the-art kitchen in an extremely hygienic environment. We use a
                    minimum or no oil wherever possible and never reuse cooking oil. All our meals are cooked using
                    extremely advanced machines that ensure authentic flavor, quality, and consistency. The recipes are
                    devised and cooked by internationally acclaimed experts. </p>
            </div>
            <div class="col-md-6">
                <div class="ab__large_img"
                    style="background-image: url(https://images.unsplash.com/photo-1551218808-94e220e084d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80);">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid">
    <div class="container">
        <div class="pt-5 pb-5 our__service">
            <h3> RiceNGrills offers the following menu for delivery. </h3>
            <p> There is a list of salubrious meal choices to choose from. </p>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li> <svg class="icon"> <use xlink:href="#plus"></use> </svg> Bolognese Beef Pasta </li>
                        <li> <svg class="icon">
                                <use xlink:href="#plus"></use>
                            </svg> Butter Chicken with Rice </li>
                        <li> <svg class="icon">
                                <use xlink:href="#plus"></use>
                            </svg> Grilled Chicken with Roasted Veggies </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li> <svg class="icon"> <use xlink:href="#plus"></use> </svg> Peri Peri Chicken with Air fried Potatoes </li>
                        <li> <svg class="icon"> <use xlink:href="#plus"></use> </svg> Teriyaki Chicken with Rice and Veggies </li>
                        <li> <svg class="icon"> <use xlink:href="#plus"></use> </svg> Baked Potatoes and Veggies </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-5 pb-5">
                <h3 class="headding"> Bulk orders </h3>
                <p> RiceNGrills also accepts bulk orders for events from catering companies and restaurants. Whatever are your food requirements, if it is in bulk, contact us and we will prepare it for you. </p>
                <p> Using RiceNGrills mobile application you can place your order and get it delivered in around 10 minutes!!! You can also pre-book your orders and schedule the delivery timings or can collect your meals from the nearest collection point. Download the RiceNGrills mobile application and follow the RiceNGrills Facebook page for offers and updates.  </p>
                <p> Please visit our website <a href="https://www.ricengrills.com.au">ricengrills.com.au </a> and don’t forget to like and follow our Facebook page for new offers and Updates!!! </p>
            </div>
            <div class="col-md-6 pt-5 pb-5">
                <h3 class="headding">  AI and ‘IOT’ incorporated delivery </h3>
                <p> Meals are delivered in environmentally friendly biodegradable containers. All meals are cooked on
                    the same day and delivered hot to customers using the RiceNGrills Delivery network. There
                    will be multiple delivery partners in selected suburbs of Melbourne. RiceNGrills Delivery
                    network is governed and controlled by sophisticated software infrastructure incorporated with AI and
                    ‘IOT’ technologies to increase productivity and decrease delivery time. All food pan carriers within
                    the delivery vehicles are equipped with ‘IOT’ sensors to collect temperature, humidity, and other
                    relevant parameters which are then transmitted to a central location for monitoring and recording. </p>
            </div>
        </div>
    </div>
</div> -->


<%-include('./shared/scripts.ejs')%>
<!-- scripts here -->
<%-include('./shared/footer-panel.ejs')%>