<%- include('./shared/head-panel.ejs')%>
<!-- Body part -->
<style>
    .bs-example{
        margin: 20px;
    }
    .accordion .fa{
        margin-right: 0.5rem;
    }
    .fs-16{
        font-size: 16px;
    }
    
    .fs-16:hover{
        text-decoration: none !important;
    }

    .card-header:hover{
        text-decoration: none;
    }
</style>

<div class="container-fluid">
    <div class="container">



        <div class="row mt-5 mb-5">
            <!-- <div class="col-md-6">
                <div class="ab__large_img"
                    style="background-image: url(https://puzzlerbox.com/template-kits/food-delivery/wp-content/uploads/sites/37/2020/08/delivery-man-checking-food-order-with-smartphone-FDG7PKK.jpg);">
                </div>
            </div> -->
            <div class="col-md-12 ab__con__sec">
                <div class="pt-3 pb-3">
                    <h1> Cookies Policy</h1>
                    




                    <p bis_size='{"x":10,"y":10,"w":581,"h":486,"abs_x":40,"abs_y":253}' style="margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';"><span bis_size='{"x":10,"y":11,"w":581,"h":466,"abs_x":40,"abs_y":254}' style="font-size:14px;font-family:'Helvetica','sans-serif';color:#424242;">We use cookies to help us make our website, communications and other online services more useful and personalized to your experience.<br bis_size="{&quot;x&quot;:280,&quot;y&quot;:29,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:310,&quot;abs_y&quot;:272}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:47,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:290}"> By using this website and our other online services, you agree that we can store and access cookies and data about your use of our website and/or digital services as described on this page.<br bis_size="{&quot;x&quot;:45,&quot;y&quot;:101,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:75,&quot;abs_y&quot;:344}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:119,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:362}"> You can learn more about cookies and how we use them, as well as how to change your personal cookie settings below.<br bis_size="{&quot;x&quot;:203,&quot;y&quot;:155,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:233,&quot;abs_y&quot;:398}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:173,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:416}"> <strong bis_size='{"x":10,"y":191,"w":123,"h":16,"abs_x":40,"abs_y":434}'>What are cookies?</strong><br bis_size="{&quot;x&quot;:133,&quot;y&quot;:191,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:163,&quot;abs_y&quot;:434}"> A cookie is a small text file that can be placed on your device when you interact with online content (such as this website) that allows us to recognize and remember your browser ID. <br bis_size="{&quot;x&quot;:568,&quot;y&quot;:227,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:598,&quot;abs_y&quot;:470}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:245,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:488}"> <strong bis_size='{"x":10,"y":263,"w":136,"h":16,"abs_x":40,"abs_y":506}'>How we use cookies</strong><br bis_size="{&quot;x&quot;:146,&quot;y&quot;:263,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:176,&quot;abs_y&quot;:506}"> When you visit our site, cookies gather and store some information about the way you use our website. <br bis_size="{&quot;x&quot;:89,&quot;y&quot;:299,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:119,&quot;abs_y&quot;:542}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:317,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:560}"> The information we collect from cookies allows us to provide you with a better experience because our website stores your preferences as you browse. Certain types of cookies also perform essential functions to enhance how our website works.<br bis_size="{&quot;x&quot;:399,&quot;y&quot;:371,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:429,&quot;abs_y&quot;:614}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:389,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:632}">&nbsp;The information that we collect through cookies may identify, or relate, to a particular individual. &nbsp;In some circumstances, the information collected through cookies may be combined with information that identifies an end user. &nbsp;Any personal information we collect via cookies is handled in accordance with RiceNGrills&nbsp;</span>
                    <a href="<%=app_url%>/privacy" style="text-decoration:none;">
                    <strong bis_size='{"x":322,"y":460,"w":98,"h":18,"abs_x":352,"abs_y":703}'><u bis_size='{"x":322,"y":460,"w":98,"h":18,"abs_x":352,"abs_y":703}'><span bis_size='{"x":322,"y":461,"w":98,"h":16,"abs_x":352,"abs_y":704}' style="font-size:14px;font-family:'Helvetica','sans-serif';color:#AB9769;">Privacy Policy&nbsp;</span></u></strong>
                    </a>
 <span bis_size='{"x":575,"y":461,"w":3,"h":16,"abs_x":605,"abs_y":704}' style="font-size:14px;font-family:'Helvetica','sans-serif';color:#00B050;">.</span><span bis_size='{"x":10,"y":479,"w":125,"h":16,"abs_x":40,"abs_y":722}' style="font-size:14px;font-family:'Helvetica','sans-serif';color:#424242;"><br bis_size="{&quot;x&quot;:579,&quot;y&quot;:461,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:609,&quot;abs_y&quot;:704}">&nbsp;We use cookies to:&nbsp;</span></p>
<ul bis_size='{"x":10,"y":512,"w":581,"h":283,"abs_x":40,"abs_y":755}' style="margin-bottom:0cm;" type="disc">
    <li bis_size='{"x":50,"y":512,"w":541,"h":18,"abs_x":80,"abs_y":755}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":513,"w":517,"h":16,"abs_x":80,"abs_y":756}' style="font-size:14px;font-family:'Helvetica','sans-serif';">enable the essential site features and value-added support services on our website;</span></li>
    <li bis_size='{"x":50,"y":540,"w":541,"h":18,"abs_x":80,"abs_y":783}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":541,"w":332,"h":16,"abs_x":80,"abs_y":784}' style="font-size:14px;font-family:'Helvetica','sans-serif';">improve the performance and usability of our website;</span></li>
    <li bis_size='{"x":50,"y":569,"w":541,"h":18,"abs_x":80,"abs_y":812}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":570,"w":316,"h":16,"abs_x":80,"abs_y":813}' style="font-size:14px;font-family:'Helvetica','sans-serif';">deliver more relevant products and services to you;</span></li>
    <li bis_size='{"x":50,"y":597,"w":541,"h":18,"abs_x":80,"abs_y":840}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":598,"w":436,"h":16,"abs_x":80,"abs_y":841}' style="font-size:14px;font-family:'Helvetica','sans-serif';">enhance communications and rewards programs you have opted in to;</span></li>
    <li bis_size='{"x":50,"y":626,"w":541,"h":18,"abs_x":80,"abs_y":869}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":627,"w":179,"h":16,"abs_x":80,"abs_y":870}' style="font-size:14px;font-family:'Helvetica','sans-serif';">personalize content and ads;</span></li>
    <li bis_size='{"x":50,"y":655,"w":541,"h":18,"abs_x":80,"abs_y":898}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":656,"w":185,"h":16,"abs_x":80,"abs_y":899}' style="font-size:14px;font-family:'Helvetica','sans-serif';">provide social media features;</span></li>
    <li bis_size='{"x":50,"y":683,"w":541,"h":36,"abs_x":80,"abs_y":926}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":684,"w":531,"h":34,"abs_x":80,"abs_y":927}' style="font-size:14px;font-family:'Helvetica','sans-serif';">analyze site behavior and website traffic and sometimes cross-reference it back to a call or chat that you make to us;</span></li>
    <li bis_size='{"x":50,"y":730,"w":541,"h":18,"abs_x":80,"abs_y":973}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":731,"w":350,"h":16,"abs_x":80,"abs_y":974}' style="font-size:14px;font-family:'Helvetica','sans-serif';">build an aggregated profile of the visitors on our website;</span></li>
    <li bis_size='{"x":50,"y":759,"w":541,"h":36,"abs_x":80,"abs_y":1002}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":760,"w":491,"h":34,"abs_x":80,"abs_y":1003}' style="font-size:14px;font-family:'Helvetica','sans-serif';">advertise our promotions, value-added products and services to our customers including behavioral advertising.</span></li>
</ul>
<p bis_size='{"x":10,"y":805,"w":581,"h":108,"abs_x":40,"abs_y":1048}' style="margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';"><span bis_size='{"x":10,"y":806,"w":563,"h":106,"abs_x":40,"abs_y":1049}' style="font-size:14px;font-family:'Helvetica','sans-serif';color:#424242;">We also share information about your use of our website with our social media, advertising and analytics partners who may combine it with other information that you&rsquo;ve provided to them, or that they&rsquo;ve collected from your use of their services. <br bis_size="{&quot;x&quot;:395,&quot;y&quot;:842,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:425,&quot;abs_y&quot;:1085}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:860,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:1103}"> <strong bis_size='{"x":10,"y":878,"w":163,"h":16,"abs_x":40,"abs_y":1121}'>Types of cookies we use</strong><br bis_size="{&quot;x&quot;:173,&quot;y&quot;:878,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:203,&quot;abs_y&quot;:1121}">&nbsp;Our website uses persistent cookies and session cookies:</span></p>
<ul bis_size='{"x":10,"y":929,"w":581,"h":136,"abs_x":40,"abs_y":1172}' style="margin-bottom:0cm;" type="disc">
    <li bis_size='{"x":50,"y":929,"w":541,"h":54,"abs_x":80,"abs_y":1172}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><strong bis_size='{"x":50,"y":929,"w":123,"h":18,"abs_x":80,"abs_y":1172}'><span bis_size='{"x":50,"y":930,"w":123,"h":16,"abs_x":80,"abs_y":1173}' style="font-size:14px;font-family:'Helvetica','sans-serif';">Persistent cookies</span></strong><span bis_size='{"x":50,"y":930,"w":540,"h":52,"abs_x":80,"abs_y":1173}' style="font-size:14px;font-family:'Helvetica','sans-serif';">&nbsp;remain on your device for the period specified in the cookie. As an example, we use persistent cookies to recognize you each time you visit our website and to remember your preferences.</span></li>
    <li bis_size='{"x":50,"y":994,"w":541,"h":72,"abs_x":80,"abs_y":1237}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><strong bis_size='{"x":50,"y":994,"w":109,"h":18,"abs_x":80,"abs_y":1237}'><span bis_size='{"x":50,"y":995,"w":109,"h":16,"abs_x":80,"abs_y":1238}' style="font-size:14px;font-family:'Helvetica','sans-serif';">Session cookies</span></strong><span bis_size='{"x":50,"y":995,"w":541,"h":70,"abs_x":80,"abs_y":1238}' style="font-size:14px;font-family:'Helvetica','sans-serif';">&nbsp;are created when you visit our website and are automatically deleted when you close your browser. As an example, we use these cookies to link your actions during a single session on our website and to make sure that our website performs reliably.</span></li>
</ul>
<p bis_size='{"x":10,"y":1077,"w":581,"h":270,"abs_x":40,"abs_y":1320}' style="margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';"><span bis_size='{"x":10,"y":1078,"w":581,"h":268,"abs_x":40,"abs_y":1321}' style="font-size:14px;font-family:'Helvetica','sans-serif';color:#424242;">Some of our partners can also set third-party cookies on your device when you visit our website. We and our partners may use <strong bis_size='{"x":253,"y":1096,"w":126,"h":16,"abs_x":283,"abs_y":1339}'>third-party cookies</strong> to provide more relevant advertising, to understand our users better, to keep our website functioning reliably and to help us deliver our services.<br bis_size="{&quot;x&quot;:183,&quot;y&quot;:1132,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:213,&quot;abs_y&quot;:1375}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:1150,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:1393}"> <strong bis_size='{"x":10,"y":1168,"w":319,"h":16,"abs_x":40,"abs_y":1411}'>Controlling and deleting cookies on your device</strong><br bis_size="{&quot;x&quot;:329,&quot;y&quot;:1168,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:359,&quot;abs_y&quot;:1411}"> You consent to our use of cookies if you continue to use our website without disabling cookies in your browser.<br bis_size="{&quot;x&quot;:108,&quot;y&quot;:1204,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:138,&quot;abs_y&quot;:1447}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:1222,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:1465}"> You can use your browser settings to disable or delete cookies.<br bis_size="{&quot;x&quot;:400,&quot;y&quot;:1240,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:430,&quot;abs_y&quot;:1483}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:1258,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:1501}"> If you disable cookies in your browser, some areas of our website may not function properly or be accessible.<br bis_size="{&quot;x&quot;:115,&quot;y&quot;:1294,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:145,&quot;abs_y&quot;:1537}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:1312,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:1555}">&nbsp;Further information on how to manage or disable cookies in your browser are set out below:</span></p>
<ul bis_size='{"x":10,"y":1363,"w":581,"h":103,"abs_x":40,"abs_y":1606}' style="margin-bottom:0cm;" type="disc">
    <li bis_size='{"x":50,"y":1363,"w":541,"h":18,"abs_x":80,"abs_y":1606}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":1364,"w":34,"h":16,"abs_x":80,"abs_y":1607}' style="font-size:14px;font-family:'Helvetica','sans-serif';">Click&nbsp;</span><span bis_size='{"x":84,"y":1363,"w":29,"h":18,"abs_x":114,"abs_y":1606}' style="color:windowtext;"><a bis_size='{"x":84,"y":1363,"w":29,"h":18,"abs_x":114,"abs_y":1606}' href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank"><strong bis_size='{"x":84,"y":1363,"w":29,"h":18,"abs_x":114,"abs_y":1606}'><span bis_size='{"x":84,"y":1364,"w":29,"h":16,"abs_x":114,"abs_y":1607}' style="font-size:14px;font-family:'Helvetica','sans-serif';color:#AB9769;">here</span></strong></a></span><span bis_size='{"x":113,"y":1364,"w":122,"h":16,"abs_x":143,"abs_y":1607}' style="font-size:14px;font-family:'Helvetica','sans-serif';">&nbsp;for Google Chrome</span></li>
    <li bis_size='{"x":50,"y":1391,"w":541,"h":18,"abs_x":80,"abs_y":1634}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":1392,"w":34,"h":16,"abs_x":80,"abs_y":1635}' style="font-size:14px;font-family:'Helvetica','sans-serif';">Click&nbsp;</span><span bis_size='{"x":84,"y":1391,"w":29,"h":18,"abs_x":114,"abs_y":1634}' style="color:windowtext;"><a bis_size='{"x":84,"y":1391,"w":29,"h":18,"abs_x":114,"abs_y":1634}' href="http://windows.microsoft.com/en-GB/windows-vista/Block-or-allow-cookies" target="_blank"><strong bis_size='{"x":84,"y":1391,"w":29,"h":18,"abs_x":114,"abs_y":1634}'><span bis_size='{"x":84,"y":1392,"w":29,"h":16,"abs_x":114,"abs_y":1635}' style="font-size:14px;font-family:'Helvetica','sans-serif';color:#AB9769;">here</span></strong></a></span><span bis_size='{"x":113,"y":1392,"w":127,"h":16,"abs_x":143,"abs_y":1635}' style="font-size:14px;font-family:'Helvetica','sans-serif';">&nbsp;for Internet Explorer</span></li>
    <li bis_size='{"x":50,"y":1420,"w":541,"h":18,"abs_x":80,"abs_y":1663}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":1421,"w":34,"h":16,"abs_x":80,"abs_y":1664}' style="font-size:14px;font-family:'Helvetica','sans-serif';">Click&nbsp;</span><span bis_size='{"x":84,"y":1420,"w":29,"h":18,"abs_x":114,"abs_y":1663}' style="color:windowtext;"><a bis_size='{"x":84,"y":1420,"w":29,"h":18,"abs_x":114,"abs_y":1663}' href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank"><strong bis_size='{"x":84,"y":1420,"w":29,"h":18,"abs_x":114,"abs_y":1663}'><span bis_size='{"x":84,"y":1421,"w":29,"h":16,"abs_x":114,"abs_y":1664}' style="font-size:14px;font-family:'Helvetica','sans-serif';color:#AB9769;">here</span></strong></a></span><span bis_size='{"x":113,"y":1421,"w":66,"h":16,"abs_x":143,"abs_y":1664}' style="font-size:14px;font-family:'Helvetica','sans-serif';">&nbsp;for Firefox</span></li>
    <li bis_size='{"x":50,"y":1449,"w":541,"h":18,"abs_x":80,"abs_y":1692}' style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';color:#424242;"><span bis_size='{"x":50,"y":1450,"w":34,"h":16,"abs_x":80,"abs_y":1693}' style="font-size:14px;font-family:'Helvetica','sans-serif';">Click&nbsp;</span><span bis_size='{"x":84,"y":1449,"w":29,"h":18,"abs_x":114,"abs_y":1692}' style="color:windowtext;"><a bis_size='{"x":84,"y":1449,"w":29,"h":18,"abs_x":114,"abs_y":1692}' href="https://support.apple.com/en-au/guide/safari/manage-cookies-and-website-data-sfri11471/mac" target="_blank"><strong bis_size='{"x":84,"y":1449,"w":29,"h":18,"abs_x":114,"abs_y":1692}'><span bis_size='{"x":84,"y":1450,"w":29,"h":16,"abs_x":114,"abs_y":1693}' style="font-size:14px;font-family:'Helvetica','sans-serif';color:#AB9769;">here</span></strong></a></span><span bis_size='{"x":113,"y":1450,"w":60,"h":16,"abs_x":143,"abs_y":1693}' style="font-size:14px;font-family:'Helvetica','sans-serif';">&nbsp;for Safari</span></li>
</ul>
<p bis_size='{"x":10,"y":1477,"w":581,"h":198,"abs_x":40,"abs_y":1720}' style="margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:'Calibri','sans-serif';"><strong bis_size='{"x":10,"y":1477,"w":219,"h":18,"abs_x":40,"abs_y":1720}'><span bis_size='{"x":10,"y":1478,"w":219,"h":16,"abs_x":40,"abs_y":1721}' style="font-size:14px;font-family:'Helvetica','sans-serif';color:#424242;">What is behavioral advertising?</span></strong><span bis_size='{"x":10,"y":1496,"w":581,"h":178,"abs_x":40,"abs_y":1739}' style="font-size:14px;font-family:'Helvetica','sans-serif';color:#424242;"><br bis_size="{&quot;x&quot;:229,&quot;y&quot;:1478,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:259,&quot;abs_y&quot;:1721}"> Online behavioral advertising (also known as interest-based advertising) is a way of serving advertisements on the websites you visit and making them more relevant to you and your interests.<br bis_size="{&quot;x&quot;:66,&quot;y&quot;:1532,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:96,&quot;abs_y&quot;:1775}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:1550,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:1793}"> Behavioral advertising works by grouping web users with shared interests together based on their previous browsing activity, and then serving advertisements to those users to match their interests. In this way, advertising can be made as relevant and useful as possible.<br bis_size="{&quot;x&quot;:514,&quot;y&quot;:1604,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:544,&quot;abs_y&quot;:1847}"> <br bis_size="{&quot;x&quot;:10,&quot;y&quot;:1622,&quot;w&quot;:0,&quot;h&quot;:16,&quot;abs_x&quot;:40,&quot;abs_y&quot;:1865}">&nbsp;Relevant advertisements can also be delivered based upon the website content you have just been viewing. This is known as retargeting.</span></p>








                    </div>
                </div>


            </div>
        </div>
    </div>

        




    </div>
</div>

<script>
    $(document).ready(function(){
        // Add minus icon for collapse element which is open by default
        $(".collapse.show").each(function(){
        	$(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        });
        
        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        }).on('hide.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        });
    });
</script>

<%-include('./shared/scripts.ejs')%>
<!-- scripts here -->
<%-include('./shared/footer-panel.ejs')%>