<%- include('./shared/head-panel.ejs')%>
<!-- Body part -->
<style>
    .bs-example{
        margin: 20px;
    }
    .accordion .fa{
        margin-right: 0.5rem;
    }
    .fs-16{
        font-size: 16px;
    }
    
    .fs-16:hover{
        text-decoration: none !important;
    }

    .card-header:hover{
        text-decoration: none;
    }
</style>

<div class="container-fluid">
    <div class="container">



        <div class="row mt-5 mb-5">
            <!-- <div class="col-md-6">
                <div class="ab__large_img"
                    style="background-image: url(https://puzzlerbox.com/template-kits/food-delivery/wp-content/uploads/sites/37/2020/08/delivery-man-checking-food-order-with-smartphone-FDG7PKK.jpg);">
                </div>
            </div> -->
            <div class="col-md-12 ab__con__sec">
                <div class="pt-3 pb-3">
                    <h1> Terms Of Use</h1>
                    
    
<h3 dir="ltr" style="line-height:1.2;background-color:#ffffff;margin-top:15pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;">
<p dir="ltr" style="line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;"><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">By registering to RiceNGrills website or mobile applications customer is agreeing to all conditions set out below.</span></p>

<p dir="ltr" style="line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;"><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">This page explains the terms and conditions on which RiceNGrills will supply to customers the products listed on website www.RiceNGrills.com.au and its mobile applications. Please read these terms and conditions carefully before ordering any products from our website or mobile applications. By ordering any of our products, customer agree to be bound by these terms and conditions. RiceNGrills reserve the right to modify this terms and conditions at any time and hence, we recommend all customers to read these terms and conditions every time they access our website or mobile applications. Customer should not order any products from our website or mobile applications if they do not accept these terms and conditions.</span></p>
                  
<p dir="ltr" style="line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;"><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Refund Policy</span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Refund is applicable only for the remaining meal credits in customer account. Customer cannot apply for refund for credits that have been acquired via Offers like “Refer a Friend” or “First Meal free Offer”. Refunds will be reviewed individually. RiceNGrills.com.au reserves the right to refuse a refund request if customer fails to provide enough notice.</span></p>
</span></p>

<p dir="ltr" style="line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;"><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Delivery</span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">We only deliver within the locations mentioned in ricengrills.com.au and its mobile application. Customer can choose instant delivery or can schedule the delivery. We try to deliver all instant deliveries within 15 minutes of its order, provided the order is placed within the delivery window (11am to 1.30pm and 6pm to 8.30pm). The actual delivery time may exceed due to unforeseen conditions such as Traffic on road, other road conditions etc. </span></p>
</span></p>

<p dir="ltr" style="line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;"><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">About Us </span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Company Name	:	RiceNGrills Pty Ltd
 ABN			:	38642303142
Factory Address	:	32B Edison Road Dandenong South 3175 Victoria. 
Mailing Address	: 	22 Yammerbook Way Cranbourne East 3977, Victoria
</span></p>
</span></p>

<p dir="ltr" style="line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;"><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Price and Payment</span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">RiceNGrills may revise the price of its products listed in its website and mobile applications. The price of the products and delivery charges will be as quoted on the website and mobile application.
Product prices exclude applicable taxes including GST. Payment for all Products and Services must be by any payment method listed on the checkout page.</span></p>

<p dir="ltr" style="line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;"><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Customer Obligations</span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Customer must inform RiceNGrills of any changes to the information provided as part of the customer registration process.</span></p>
</span></p>

<p dir="ltr" style="line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;"><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Area of Operation</span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">We operate only in the locations mentioned in RiceNGrills.com.au and we do not accept orders outside this region. We do not accept orders by phone.</span></p>
</span></p>

<p dir="ltr" style="line-height:1.2;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 7.5pt 0pt;"><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Privacy</span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:10.5pt;font-family:'Helvetica Neue',sans-serif;color:#424242;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">The RiceNGrills Privacy Policy is available on the RiceNGrills website. Your personal date will be handled as per RiceNGrills <a href="<%=app_url%>/privacy">Privacy Policy</a>.</span></p>
</span></p>



                    
                    



                        </div>
                    </div>


                </div>
            </div>
        </div>

        




    </div>
</div>


<%-include('./shared/scripts.ejs')%>
<!-- scripts here -->
<%-include('./shared/footer-panel.ejs')%>